*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}

header {
	margin-top: 80px;
}

.container{
	max-width: 875px;
	margin: 0 auto;
}

.main-header {
	display: flex;
	justify-content: space-between;
}

.logo-link {
	text-decoration: none;
	text-align: center;
	font-size: 11px;
	color: rgba(0, 0, 0, 0);
}

.logo-link:hover p {
	color: #777;
}

.logo-link:hover img {
	opacity: 0.9;
	transition: 0.2s;
}

.header {
	display: flex;
	justify-content: space-between;
	height: 83px;
}

.header-body {
	width: 80%;
}

.header-top {
	height: 53px;
	padding-top: 10px;
}

.header-top ul {
	float: right;
}

.header-top ul li {
	display: inline;
	color: black;
	font-size: 13px;
}

.header-bottom {
	display: flex;
	justify-content: space-between;
}

.tabs {
	display: flex;
	height: 30px;
	margin-right: 50px;
}

.tabs a {
	text-decoration: none;
}

.tab {
	margin-right: 10px;
	padding-top: 2px;
	width: 120px;
	height: 30px;
	background: linear-gradient(#fff, #f5dc00);
	border: solid 1px #f5dc00;
	border-radius: 2px 2px 0 0;
	text-align: center;
	color: #827504;
	line-height: 25px;
	font-size: 12px;
	font-weight: bold;
}

.tab:hover {
	cursor: pointer;
	color: #ccb916;
	/*background: linear-gradient(#ededed, #e6ce00);*/
	/*border: solid 1px #e6ce00;*/
}

.upload {
	font-size: 14px;
	font-weight: bold;
}

.upload a:visited {
	color: #03C;
}

/* ---===== SearchBox =====-- */

.searchbox {
	height: 37px;
	background: linear-gradient(#d1cb9b, #e0ddc8);
	border-radius: 10px 10px 0 0;
	padding-top: 10px;
	display: flex;
}

.searchbox input {
	width: 620px;
	height: 20px;
	margin-left: 15px;
	border: solid 1px #d1cb9b; 
	border-radius: 3px;
}

.searchbox button {
	width: 60px;
	height: 20px;
	margin-left: 5px;
	border: solid 1px #d1cb9b; 
	border-radius: 3px;
}

.author-block {
	float: right;
	display: flex;
	justify-content: space-between;
	width: 100px;
	margin-left: 45px;
}

.author-block p {
	margin-top: -3px;
	font-size: 10px;
	max-width: 40px;
	text-align: right;
	color: #7d7d7d;
}

.author-block a {
	margin-left: 10px;
	font-size: 14px;
	font-weight: bold;
	max-width: 70px;
	text-align: left;
	text-decoration: none;
	color: #7d7d7d;
}

/* ---===== Content =====-- */

.content {
	display: flex;
	justify-content: space-between;
}

/* ---===== Main Content =====-- */


.main-content {
	width: 555px;
	padding: 20px 0 0 20px;
}

/* ---===== Promoted Videos =====-- */

.promoted-videos h4 {
	font-size: 16px;
	font-weight: bold;
	color: #4A4A4A;
}

.promoted-videos-content {
	display: flex;
	/*justify-content: space-between;*/
}

.promoted-video {
	width: 23%;
	margin-left: 3px;
	margin-right: 6px;
}

.video-icon-wrapper-outer {
	border: solid 1px #000;
	width: 122px;
	overflow: hidden;
	position: relative;
}

.video-icon-wrapper-inner {
	border: solid 1px #fff;
	width: 120px;
	height: 72px;
	overflow: hidden;
}

.video-icon-wrapper-inner img {
	margin-top: -10px;
	width: 100%;
	display: block;
}

.promoted-video-name {
	display: block;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #03C;
}

.promoted-video-author {
	display: block;
	text-align: center;
	color: black;
	font-size: 11px;
}

.promoted-video:hover .video-icon-wrapper-inner {
	background-color: #000;
}

.promoted-video:hover img {
	opacity: 0.8;
}

/* ---===== Featured Videos =====-- */

.fv-heading {
	padding-top: 20px;
	height: 45px;
	display: flex;
	justify-content: space-between;
}

.fv-block-header {
	font-size: 19px;
	float: left;
}

.fv-heading-more {
	font-size: 12px;
	font-weight: bold;
	color: #03C;
}

.fv-small-tabs {
	background: #eee;
	border-top: solid 1px #ccc;
	height: 40px;
}

.fv-tabs-container {
	margin-top: 19px;
	float: right;
}

.fv-tabs-container li {
	display: inline;
	padding: 5px 6px;
	font-size: 11px;
}

.fv-tab-selected {
	background-color: #fff;
	font-weight: bold;
}

.fv-tab-selected a{
	color: #000;
}
.fv-tabs-container li a {
	text-decoration: none;
}

.fv-video-item {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	border-bottom: dotted 1px #999;
}

.fv-video-right {
	width: 130px;
}

.fv-video-middle {
	width: 256px;
	padding-left: 5px;
}

.fv-video-left{
	width: 146px;
}

.fv-video-title {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: #03C;
}

.fv-video-desc {
	display: block;
	margin-top: 3px;
	font-size: 12px;
}

.fv-video-param {
	font-size: 11px;
	color: #666;
}

.fv-video-value {
	font-size: 11px;
}

.fv-video-link {
	font-size: 11px;
}

.fv-video-right:hover .video-icon-wrapper-inner {
	background-color: #000;
}

.fv-video-right:hover img {
	opacity: 0.8;
}

.fv-more-button {
	padding-top: 8px;
	margin-bottom: 15px;
	text-align: right;
}

.fv-more-button a {
	font-size: 12px;
	font-weight: bold;
	color: #03C;
}


/* ---===== Side Content =====-- */

.side-content {
	width: 300px;
}

/* ---===== Embed Top Cap =====-- */

.sc-embed-top-cap {
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
}

.sc-embed-left {
	width: 50%;
}

.sc-embed-right {
	width: 50%;
}

.sc-video-name {
	font-size: 12px;
	font-weight: bold;
	color: #03C;
}

.sc-video-param {
	font-size: 11px;
	color: #666;
}

.sc-video-value {
	font-size: 11px;
}

.sc-video-channel {
	font-size: 11px;
	font-style: italic;
	color: #333;
}

.sc-embed-right p:first-child {
	font-size: 11px;
	font-weight: bold;
	color: #333;
	text-align: center;
}

.sc-embed-right p:last-child {
	font-size: 11px;
	text-align: center;
}

.sc-embed-raiting {
	display: flex;
	margin: auto;
	width: 95px;
}

.sc-embed-raiting img {
	width: 19px;
	height: 20px;
}

/* ---===== Login Box =====-- */

.sc-login-box {
	margin-top: 20px;
	padding: 6px;
	border: solid 1px #CCC;
}

.sc-login-top {
	display: flex;
	justify-content: space-between;
}

.sc-login-header-left span {
	font-size: 14px;
	font-weight: bold;
	color: #4A4A4A;
}

.sc-login-header-right a {
	font-size: 11px;
	font-weight: bold;
	color: #03C;
}

.sc-login-header-right span {
	font-size: 11px;
	font-weight: bold;
}

.sc-login-main {
	margin-top: 5px;
	display: flex;
}

.sc-login-main-left {
	font-size: 11px;
	font-weight: bold;
	width: 32%;
}

.sc-login-main-left div {
	height: 24px;
}

.sc-login-main-left div span {
	margin: 3px 5px 0 0;
	float: right;
}

.sc-login-main-right {
	width: 68%;
}

.sc-login-main-right input[type="text"] {
	width: 127px;
	height: 18px;
	font-size: 11px;
	padding: 1px 2px;
	margin-bottom: 4px;
}

.sc-login-main-right input[type="submit"] {
	display: block;
	width: auto;
	font-size: 11px;
	padding: 1px 6px;
	margin-bottom: 4px;
}

.sc-login-border-dotted {
	margin: 5px 0;
	border-bottom: dotted 1px #999;
}

.sc-login-google {
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

.sc-login-google a {
	color: #03C;
}

.sc-login-google a img {
	vertical-align: middle;
}

/* ---===== News Box =====-- */

.sc-news-box {
	background: #fffbd9;
	border: solid 1px #ebd3ab;
	border-radius: 10px;
	padding: 10px 15px;
	margin: 30px 0 15px;
}

.sc-news-heading {
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #C60;
}

.sc-news-entry {
	padding: 3px 0;
	font-size: 12px;
}

.sc-news-entry a {
	font-weight: bold;
	color: #C60;
}

.sc-news-entry-image {
	width: 30px;
	height: 37px;
	margin-bottom: 12px;
	float: left;
}

.sc-news-entry-desc {
	margin: 0 0 12px 36px;
	font-size: 12px;
}

.sc-read-more {
	text-align: right;
}

.sc-read-more a {
	font-size: 12px;
	color: #C60;
}

/* ---===== Top Box =====-- */

.sc-top-box {
	background: #ebf0fc;
	border: solid 1px #c2d0f2;
	border-radius: 10px;
	padding: 8px 10px 10px;
}

.sc-top-heading {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 5px;
}

.sc-top-entry {
	margin-bottom: 10px;
	min-height: 62px;
}

.sc-entry-image {
	float: left;
	margin-bottom: 2px;
}

.sc-entry-image a img {
	width: 82px;
	height: 62px;
	border: solid 1px #999;
	background: #333;
}

.sc-entry-info {
	margin-left: 86px;
	width: 180px;
}

.sc-entry-info a {
	font-size: 12px;
	font-weight: bold;
	color: #03C;
}

.sc-entry-stats {
	font-size: 11px;
	line-height: 13px;
}

.sc-entry-stats span {
	color: #666;
}

.sc-entry-stats a {
	font-weight: normal;
	color: #03C;
}

/* ---===== Footer =====-- */

footer {
	width: 875px;
	padding-bottom: 15px;
	margin: 15px auto 0;
	font-size: 11px;
}

.footer-content {
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	background: #EEE;
	padding: 8px 0;
}

.foot-top {
	border-bottom: solid 1px #CCC;
	padding-bottom: 8px;
	margin-bottom: 8px;
	display: flex;
}

.foot-search {
	width: 66%;
	padding-top: 5px;
	text-align: right;
}

.foot-search input[type="text"] {
	width: 250px;
	font-size: 12px;
	padding: 1px 2px;
	margin-right: 5px;
}

.foot-search input[type="submit"] {
	padding: 1px 6px;
}

.foot-debates {
	width: 34%;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
}

.foot-debates a {
	color: #03C;
	vertical-align: middle;
}

.foot-bot {
	display: flex;
	justify-content: space-between;
	line-height: 15px;
}

.foot-collumn-left {
	width: 226px;
	padding-left: 10px;
	margin-right: 20px;
	border-right: solid 1px #CCC;
}

.foot-label {
	font-size: 11px;
	font-weight: bold;
	color: #333;
}

.foot-values {
	margin-left: 0px;
	padding-bottom: 6px;
	font-size: 11px;
}

.column {
	float: left;
	margin-right: 20px;
}

.column a {
	color: #03C;
}

.foot-collumn-middle {
	width: 295px;
	margin-right: 20px;
	border-right: solid 1px #CCC;
}

.foot-collumn-right {
	padding-right: 10px;
}

.foot-copyright {
	padding-top: 12px;
	text-align: center;
	font-size: 11px;
}

.foot-copyright a {
	color: #03C;
}